@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Sans KR';
    src: url('../assets/font/NotoSansKR-Regular.ttf');
  }

  * {
    @apply font-sans;
  }

  #styleRoot {
    /* Figma 색상 팔레트 정의 필요 */
    --base: black;
    --base-reverse: white;
    --primary: #8b5cf6;
    --primary-darken: #5b21b6;
    --primary-lighten: #c4b5fd;
    --primary-lighter: #ede9fe;
    --accent-1: #333333;
    --accent-2: #666666;
    --accent-3: #999999;
    --accent-4: #aaaaaa;
    --accent-5: #cccccc;
    --accent-6: #dddddd;
    --accent-7: #f0f0f0;
    --manner-accent-1: #ff6e1d;
    --manner-accent-2: #f7be68;
    --manner-accent-3: #2fc795;
    --manner-accent-4: #019ceb;
    --manner-accent-5: #0277b2;
    --manner-accent-6: #868b94;
    --manner-accent-7: #333333;
  }

  /* Storybook 환경에선 :root가 아닐 수도 있어요 */
  #styleRoot.dark,
  .dark #styleRoot {
    background-color: black;
    color: white;

    --base: white;
    --base-reverse: black;
    --accent-1: #eeeeee;
    --accent-2: #bbbbbb;
    --accent-3: #888888;
    --accent-4: #777777;
    --accent-5: #555555;
    --accent-6: #444444;
    --accent-7: #2f2f2f;
  }

  /* 자동완성 autofill 배경색 제거 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--accent-1);
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  .input-range::-webkit-slider-thumb {
    @apply pointer-events-auto relative z-[1] h-3 w-3 translate-y-[-6.75px] cursor-pointer appearance-none rounded-md bg-[var(--primary)];
  }

  .input-range::-moz-range-thumb {
    @apply pointer-events-auto relative z-[1] h-3 w-3 translate-y-[-6.75px] cursor-pointer appearance-none rounded-md bg-[var(--primary)];
  }

  .input-range {
    @apply pointer-events-none absolute	h-2 w-full appearance-none rounded-lg bg-[var(--accent-7)] outline-none [&::-moz-range-thumb:hover]:bg-[var(--primary-darken)] [&::-webkit-slider-thumb:hover]:bg-[var(--primary-darken)];
  }
}

@layer utilities {
  @keyframes RippleEffect {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(var(--ripple-element-width));
      opacity: 0;
    }
  }

  .ripple-effect {
    animation: RippleEffect 0.5s ease-out;
  }

  .ripple-fast {
    animation-duration: 0.3s;
  }

  .scroll-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @keyframes fadeIn {
    0% {
      display: none;
    }

    100% {
      display: block;
    }
  }

  @keyframes fadeOut {
    0% {
      display: block;
    }

    100% {
      display: none;
    }
  }

  @keyframes opacity70 {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.7;
    }
  }

  @keyframes opacity0 {
    0% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes moveUp {
    0% {
      bottom: -300px;
    }

    100% {
      bottom: 0;
    }
  }

  @keyframes moveDown {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -300px;
    }
  }
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 30%;
  transform: translateX(-50%);
  border-width: 6px;
  border-color: transparent transparent var(--accent-1) transparent;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.backdrop {
  @apply bg-gray-accent1 dark:bg-gray-accent7;
}

.fade-page-transition-enter {
  opacity: 0;
}

.fade-page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-page-transition-exit {
  opacity: 1;
}

.fade-page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}

.transition-group {
  @apply absolute left-0 top-0 h-full w-full;
}

/* Page가 항상 div일 것으로 예상해요 */
.transition-group > div {
  @apply absolute left-0 top-0 h-full w-full;
}
